<div id="<%= dom_id user %>">
  <p>
    <strong>Id:</strong>
    <%= user.id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= user.comment_id %>
  </p>

  <p>
    <strong>Effective:</strong>
    <%= user.effective_id %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= user.avatar %>
  </p>

</div>
