<% content_for(:title, t('.title')) %>
<div class="d-flex align-items-center col-md-12 vh-100">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h1 class="my-5 text-center">FormCoach</h1>
        <%= form_with model: @user, local: true do |f|%>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <div class="text-center"><%= f.submit (t 'defaults.register_page'), class: 'btn btn-primary rounded-pill m-3 col-6' %>
          </div>
        <% end %>
        <div class='text-center'>
          <%= link_to ( t '.to_login_page'), login_path %>
        </div>
      </div>
    </div>
  </div>
</div>