<%= form_with  model: post, url: {controller: 'posts', action: 'update'} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%#= f.label :body %>
    <%= f.text_area :body, class: 'form-control', rows: 10 %>
  </div>
  <div class='mt-3 mb-3'>
    <%= video_tag post.video.url, id:'preview', size: '300x200', autoplay: true, muted: true, controls: true unless post.video.blank?%>
  </div>

  <%= f.submit "更新する" ,class: 'btn btn-primary'%>
 
 
<% end %>