<%#= form_with model: post, local: true do |f| %>
<%= form_with  model: post, url: {controller: 'posts', action: 'analysis'} do |f| %>
  <div class="form-group">
    <%#= f.label :body %>
    <%= f.text_area :body, class: 'form-control', rows: 10 %>
    <%#= f.file_field :video, :accept => 'video/*', value:"#{session[:result_video]}" %>
    <%#= f.hidden_field :video_cache %>
    <%= f.file_field :video, :accept => 'video/*' %>
    <%= f.hidden_field :video_cache %>
  </div>
  <div class='mt-3 mb-3'>
    <%= video_tag post.video.url, id:'preview', size: '300x200', autoplay: true, muted: true, controls: true unless post.video.blank?%>
  </div>
  <%= f.submit "分析する" ,class: 'btn btn-primary' %>
  <%#= f.submit class: 'btn btn-primary' %>
<% end %>