
<%= form_with model: post, local: true do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', rows: 10 %>
    <%= f.file_field :video %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>