<div id="<%= dom_id post %>">
  <p>
    <strong>Video:</strong>
    <%= post.video %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>Angle:</strong>
    <%= post.angle %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= post.image %>
  </p>

  <p>
    <strong>Pitching form:</strong>
    <%= post.pitching_form %>
  </p>

</div>
