
<%= form_with model: @post, local: true do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', rows: 10 %>
    <%= f.file_field :video, :accept => 'video/*' %>
    <%= f.hidden_field :video_cache %>
  </div>

  <div class='mt-3 mb-3'>
    <%= video_tag "#{session[:video]["video"]["url"]}", id: :'preview', size: :'300x200', autoplay: :true, muted: :true, controls: :true %>
  </div>
  <%= f.hidden_field :video %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>