<%= turbo_frame_tag "post" do %>
  <% content_for(:title, t('.title')) %>
  <div class="container pt-5 border-top border-bottom">
    <div class="row mb-3">
      <div class="col-lg-8">
      <%# turboでpost編集機能 %>
      <%= turbo_frame_tag "post_edit" do%>
        <!-- 掲示板内容 -->
        <article class="card">
          <div class="card-body">
              <div class='col-12'>
              <ul class="list-inline">
                  <li class="list-inline-item"><%= @post.user.name %></li>
                  <li class="list-inline-item"><%= l @post.created_at, format: :long  %></li>
                  <%# 詳細表示から戻るボタン。エラーが出る %>
                  <%#= link_to t('defaults.back'), "post" , class: "btn btn-sm btn-outline-secondary" %>
                </ul>
                <p class="card-text"><%= @post.body %></p>
                <%= render 'crud_menus', post: @post if current_user.own?(@post)%>
              </div>
              <div class="col-md-12">
                <%#= video_tag @post.video_url,autoplay: true, muted: true, class: 'card-img-bottom ratio', controls: true ,style:"--aspect-ratio: 50%;"unless @post.video.blank?%>
                <%= video_tag @post.video_url, autoplay: true, muted: true, class: 'card-img-bottom', controls: true,oncontextmenu: 'return false', controlslist: "nodownload" unless @post.video.blank? %>
              </div>
          </div>
        </article>
        <% end %>
      </div>
      <div class="col-lg-4">
      <!-- コメントフォーム -->
       
          <%= render 'comments/form', { post: @post, comment: @comment } %>

        <!-- コメントエリア -->
        <div class= "col-12 ", style="width300px;height:500px;overflow:auto">
          <%= turbo_frame_tag "comments" do%>
            <%= render 'comments/comments', { comments: @comments }%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
